// Horizontal Padding Variables
$horizontal-padding-desktop: 4rem;
$horizontal-padding-tablet: 1.875rem;
$horizontal-padding-mobile: 2rem;

// Breakpoints
$breakpoint-desktop: 1248px;
$breakpoint-tablet: 768px;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-background-light-blue: #304571;
$color-background-dark-blue: #0D1E48;
$color-primary: #FF70D9;
$color-secondary: #EBFF00;

// Background
$app-bg: linear-gradient(to bottom, #1a1f4d, #0c0e22);